# Mengabaikan folder cache Python
__Pycache__/
+.py[cod]
*py.class

# Mengabaikan file log
*.log

# Mengabaikan folder virtual environment
venv/
env/

# Mengabaikan file sementara sistem
.DS_Store
Thumbs.db
